{% load customfilter %}
<div class="container-fluid">
    <form action="" id="programacion-form">
        {% csrf_token %}

        <input type="hidden" name="codigo" value="1">
        <div class="form-group mb-3 ">
            <label for="conductor" class="control-label">Conductor:</label>
            <select name="conductor" id="conductor" class="form-select select2 rounded-0">
                {% if not programacion.conductor %}
                <option selected></option>
                {% else %}
                <option ></option>
                {% endif %}
                {% for conductor in conductores %}
                {% if programacion.conductor.id == conductor.id %}
                <option value="{{ conductor.id }}" selected>{{ conductor }}</option>
                {% else %}
                <option value="{{ conductor.id }}" >{{ conductor }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
         <div class="form-group mb-3">
            <label for="programacion" class="control-label">Horario Programado:</label>
            <input class="form-control rounded-0" name="programacion" id="programacion" type="datetime-local" value="{{ programacion.programacion|date:'Y-m-d\TH:i' }}" required>
        </div>
        <div class="form-group mb-3 ">
            <label for="bus" class="control-label">Bus</label>
            <select name="bus" id="bus" class="form-select select2 rounded-0">
                {% if not bus.numero_bus %}
                <option selected></option>
                {% else %}
                <option ></option>
                {% endif %}
                {% for bus in buses %}
                {% if programacion.bus.id == bus.id %}
                <option value="{{ bus.id }}" selected>{{ bus }}</option>
                {% else %}
                <option value="{{ bus.id }}" >{{ bus }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3 ">
            <label for="origen" class="control-label">Origen:</label>
            <select name="origen" id="origen" class="form-select select2 rounded-0">
                {% if not programacion.sede %}
                <option selected></option>
                {% else %}
                <option ></option>
                {% endif %}
                {% for sede in sedes %}
                {% if programacion.origen.id == sede.id %}
                <option value="{{ sede.id }}" selected>{{ sede }}</option>
                {% else %}
                <option value="{{ sede.id }}" >{{ sede }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3 ">
            <label for="destino" class="control-label">Destino:</label>
            <select name="destino" id="destino" class="form-select select2 rounded-0">
                {% if not programacion.sede %}
                <option selected></option>
                {% else %}
                <option ></option>
                {% endif %}
                {% for sede in sedes %}
                {% if programacion.destino.id == sede.id %}
                <option value="{{ sede.id }}" selected>{{ sede }}</option>
                {% else %}
                <option value="{{ sede.id }}" >{{ sede }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="precio" class="control-label">Precio:</label>
            <input class="form-control rounded-0" name="precio" id="precio" type="number" step="any" value="{{ programacion.precio }}" required>
        </div>
        <div class="form-group mb-3 ">
            <label for="estado" class="control-label">Estado:</label>
            <select name="estado" id="estado" class="form-select rounded-0">
                {% if not schedule.status or schedule.status == '1' %}
                <option value="1" selected>Despachado</option>
                {% else %}
                <option value="1">Despachado</option>
                {% endif %}
                {% if schedule.status == '0' %}
                <option value="0" selected>Cancelado</option>
                {% else %}
                <option value="0" selected >Cancelado</option>
                {% endif %}

            </select>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('.select2').select2({
            width:"100%",
            placeholder: "Por favor hacer una selección",
            dropdownParent:$('#uni_modal')
        })
        $('#programacion-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                url: "{% url 'guardar-programacion' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured ", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg ")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.html(resp.msg)
                    } else {
                        el.text("An error occured ", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal ").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>