
{% extends 'base.html' %} {% block Contenido %}


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" xmlns="http://www.w3.org/1999/html">

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-7 d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Escanea el código QR:</h3>
                                <div class="text-muted">Agréganos en Whatsapp,para hacer contacto directo con nuestro personal en recepción:</div>
                                <div class="row">
                                    <img src="{{ MEDIA_URL }}media/default/codigo-qr.png" height="480" alt="{{ MEDIA_URL }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-secondary w-100 p-md-5 p-4">
                                <h3 class="mb-4 mt-md-4">Acerca de Nosotros:</h3>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title text-sm-center">COOTRANSPLATEÑA</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-muted">Sede Principal:</div>
                                        <p class="card-text"><i class="fa fa-map-marker fa-2x"></i>Despachos desde Parque P/pal: "La Plata".</p>
                                        <p class="card-text"><i class="fa fa-user fa-2x"></i> Oficina: CC Primitivo Lozada</p>
                                        <p class="card-text"><i class="fa fa-envelope fa-2x">Email: </i> cootranspla@hotmail.com</p>


                                        <div class="card-text"><i class="fa fa-whatsapp fa-2x"></i> Teléfonos: </div>
                                        La Plata
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573115990482" title="Enlace a Whatsapp">  <strong>Whatsapp </strong> </br> </a>

                                        <div class="text-muted">Otras sedes:</div>
                                        Neiva
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573162655120" title="Enlace a Whatsapp">  <strong>Whatsapp </strong> </br> </a>
                                        Cali
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=575990982" title="Enlace a Whatsapp">  <strong>Whatsapp </strong> </br>  </a>
                                        Popayán
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573227279976" title="Enlace a Whatsapp">  <strong>Whatsapp </strong> </br>  </a>
                                        Pitalito
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573227279976" title="Enlace a Whatsapp">  <strong>Whatsapp </strong> </br>  </a>
                                        Inza
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573227279976" title="Enlace a Whatsapp">  <strong>Whatsapp </strong> </br>  </a>
                                        La Argentina
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573227279976" title="Enlace a Whatsapp">  <strong>Whatsapp </strong> </br>  </a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock Contenido %}