

{% extends 'base.html' %}
{% load customfilter %}
{% load humanize %}
{% block Contenido %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow ">
        <div class="card-header">
              <h7>Verifique por favor que la información este acorde a la programación interna de la Empresa: </h7>
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">Viajes Programados</h4>
                <div class="tools">
                    <button type="button" class="btn btn-primary rounded-0 bg-gradient btn-sm" id='add_new'><i class="fa fa-plus"></i> Adicionar</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-bordered" id="despacho-lista">
                    <thead>
                        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                            <th class="px-2 py-2 text-center">#</th>
                            
                            <th class="px-2 py-2 text-center">Ingresado por:</th>
                            <th class="px-2 py-2 text-center">Conductor Asignado</th>
                            <th class="px-2 py-2 text-center">Horario Programado</th>

                            <th class="px-2 py-2 text-center">Bus  </th>

                            <th class="px-2 py-2 text-center">Ruta(Desde - Hacia)</th>
                            <th class="px-2 py-2 text-center">Tarifa</th>
                            <th class="px-2 py-2 text-center">Estado</th>
                            <th class="px-2 py-2 text-center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programacion in programaciones %}
                        <tr>
                            <td class="px-2 py-3 align-middle">{{ forloop.counter }}</td>
                            <td class="px-2 py-1 align-middle">{{ user.username }}</td>

                            <td class="px-2 py-1 align-middle">{{ programacion.conductor }}</td>
                           <td class="px-2 py-1 align-middle">{{ programacion.programacion|date:"Y-m-d h:i A" }}</td>

                            <td class="px-2 py-1 align-middle">
                                <div class="lh-1">
                                    <div>{{ programacion.bus.numero_bus }}</div>
                                    <small>{{ programacion.bus.placa_bus }}</small>
                                </div>
                            </td>
                            <td class="px-2 py-1 align-center">
                                    <div class="text-align-center">{{ programacion.origen }}</div>
                                              a
                                    <div>{{ programacion.destino }}</div>
                            </td>
                            <td class="px-2 py-1 align-middle"> $ {{ programacion.precio|intcomma }}</td>

                            <td class="px-1 py-1 align-middle text-center">
                                    {% if programacion.estado == '1' %}
                                <span class="badge bg-primary bg-gradient rounded-pill px-2">Despachado</span> {% else %}
                                <span class="badge bg-danger bg-gradient rounded-pill px-2">Cancelado</span> {% endif %}

                            </td>
                            <td class="px-2 py-1 align-middle text-center">
                                <a class="btn btn-outline-primary btn-sm edit-data" href="javascript:void(0)" data-id="{{ programacion.pk }}" title="Editar">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn btn-outline-danger btn-sm delete-data" type="button" data-id="{{ programacion.pk }}" title="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock Contenido %}
{% block ScriptBlock %}
<script>
    $(function() {
        $('#add_new').click(function() {
            uni_modal('<i class="fa fa-plus"></i> Adicionar Viaje Programado', '{% url "adm-programacion" %}', 'modal-md')
        })
        $('.edit-data').click(function() {
            uni_modal('<i class="fa fa-edit"></i> Editar Viaje Progamado', '{% url "adm-programacion" %}/' + $(this).attr('data-id'), 'modal-md')
        })
        $('.delete-data').click(function() {
            _conf("¿Deseas eliminar este Viaje Programado del sistema?", "eliminar_programacion", [$(this).attr('data-id')])
        })

        $('#despacho-lista').DataTable({
            columnDefs: [{
                orderable: false,
                targets: 8
            }],

            "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            initComplete: function(settings, json) {
                $('table td, table th').addClass('px-2 py-1')
            },
            drawCallback: function(settings) {
                $('table td, table th').addClass('px-2 py-1')
            }
        })
    })

    function eliminar_programacion($id) {
        start_loader();
        var _this = $(this)
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        $.ajax({
            url: '{% url "eliminar-programacion" %}',
            headers: {
                'X-CSRFToken': "{{csrf_token}}"
            },
            method: 'POST',
            data: {
                id: $id
            },
            dataType: 'json',
            error: err => {
                console.log(err)
                el.text('An error occurred.')
                el.show('slow')
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.text('An error occurred.')
                    el.show('slow')
                } else {
                    el.text('An error occurred.')
                    el.show('slow')
                }
                end_loader()
            }
        })
    }
</script>
{% endblock ScriptBlock %}